EjbWebServiceClient/src/META-INF/wsdl/localhost_8080/LibraryService/LibraryPersistentBeanWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservce.ublibrary.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservce.ublibrary.com/">

<xs:element name="addBook" type="tns:addBook"/>

<xs:element name="addBookResponse" type="tns:addBookResponse"/>

<xs:element name="getBooks" type="tns:getBooks"/>

<xs:element name="getBooksResponse" type="tns:getBooksResponse"/>

<xs:complexType name="getBooks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBooksResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="books">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="publisher" type="xs:string" minOccurs="0"/>
<xs:element name="publisherAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBook">
<xs:sequence>
<xs:element name="arg0" type="tns:books" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBookResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>