Dengun/J2EE/ClientEJBWebService/src/META-INF/wsdl/localhost_8080/LibraryService/LibraryPersistenceBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://beans.library.webservice.ejb.dengun.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://beans.library.webservice.ejb.dengun.com/">

<xs:element name="addBook" type="tns:addBook"/>

<xs:element name="addBookResponse" type="tns:addBookResponse"/>

<xs:element name="getBooks" type="tns:getBooks"/>

<xs:element name="getBooksResponse" type="tns:getBooksResponse"/>

<xs:complexType name="addBook">
<xs:sequence>
<xs:element name="arg0" type="tns:books" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="books">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBookResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBooks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBooksResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>